* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #36a028;
    --filter-bg-color: #df1212;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:20px;
    padding-right: 20px;
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*class de 3em niveau*/
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.text-menu{
    margin-left:40px;
}

